<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User Welcome Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="success-page">
        <h2>Success! Welcome to Fly Flippers, {{new_user.first_name}}!</h2>
        <button><a href="/logout">Log Out</a><br></button>
        <button><a href="/dashboard">Got to Dashboard</a></button>
    </div>
</body>
</html>