body{
    padding: 0px;
    margin: 0px;
}

.login-wrap{
    margin-top: 50px;
    margin-bottom: 50px;
}

.big-banner{
    background: url('./images/fly_background_dark.png');
    background-position: center;
    background-size: cover;
}

.newPage-banner{
    background: url('./images/newPage_background.png');
    background-position: center;
    background-size: cover;
}

.item_border{
    border: 2px solid black;
    display: inline-block;
    margin-left: 5px;
    padding: 5px;
}

.grad-bg{
    height: 100%;
    background-image: linear-gradient(to bottom right, gray, brown);
}
